<h1><b>RSMC Egg Donation</b></h1>
<table>
    <td><tr><mat-icon style="display: inline-flex; vertical-align: top;">information</mat-icon></tr></td>
    <td><tr><p>Egg donation involves a screening process. Not all potential egg donors are selected. Not all selected egg donors receive the monetary amounts or compensation advertised. As with any medical procedure, there may be risks associated with human egg donation. Before an egg donor agrees to begin the egg donation process, and signs a legally binding contract, she is required to receive specific information on the known risks of egg donation. Consultation with your doctor prior to entering into a donor contract is advised.</p></tr></td>
</table>

<form *ngIf="showForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <table style="margin-left: 30px; display: inline-block;">
    <td>
      <tr>
        <mat-label><b>1. First Name</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" maxlength="50" required>
          <mat-error *ngIf="form.controls['firstName'].errors?.required">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>2. Last Name</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" maxlength="50" required>
          <mat-error *ngIf="form.controls['lastName'].errors?.required">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>3. Date of birth</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" class="my-class" appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input formControlName="birthDate" matInput [matDatepicker]="picker" required>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls['birthDate'].errors?.required">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>4. Street Address</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>Street Address</mat-label>
          <input matInput formControlName="streetAdd" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>5. City</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <table>
          <td>
            <tr>
              <mat-label><b>6. U.S. State</b></mat-label><br>
              <mat-form-field style="margin-left: 15px;" class="my-class" appearance="outline">
                <mat-label>U.S. State</mat-label>
                <mat-select formControlName="state">
                  <mat-option value="Alabama">AL</mat-option>
                  <mat-option value="Alaska">AK</mat-option>
                  <mat-option value="Arizona">AZ</mat-option>
                  <mat-option value="Arkansas">AR</mat-option>
                  <mat-option value="California">CA</mat-option>
                  <mat-option value="Colorado">CO</mat-option>
                  <mat-option value="Connecticut">CT</mat-option>
                  <mat-option value="Delaware">DE</mat-option>
                  <mat-option value="Florida">FL</mat-option>
                  <mat-option value="Georgia">GA</mat-option>
                  <mat-option value="Hawaii">HI</mat-option>
                  <mat-option value="Idaho">ID</mat-option>
                  <mat-option value="Illinois">IL</mat-option>
                  <mat-option value="Indiana">IN</mat-option>
                  <mat-option value="Iowa">IA</mat-option>
                  <mat-option value="Kansas">KS</mat-option>
                  <mat-option value="Kentucky">KY</mat-option>
                  <mat-option value="Louisiana">LA</mat-option>
                  <mat-option value="Maine">ME</mat-option>
                  <mat-option value="Maryland ">MD</mat-option>
                  <mat-option value="Massachusetts">MA</mat-option>
                  <mat-option value="Michigan">MI</mat-option>
                  <mat-option value="Minnesota">MN</mat-option>
                  <mat-option value="Mississippi">MS</mat-option>
                  <mat-option value="Missouri">MO</mat-option>
                  <mat-option value="Montana">MT</mat-option>
                  <mat-option value="Nebraska">NE</mat-option>
                  <mat-option value="Nevada">NV</mat-option>
                  <mat-option value="New Hampshire">NH</mat-option>
                  <mat-option value="New Jersey">NJ</mat-option>
                  <mat-option value="New Mexico">NM</mat-option>
                  <mat-option value="New York">NY</mat-option>
                  <mat-option value="North Carolina">NC</mat-option>
                  <mat-option value="North Dakota">ND</mat-option>
                  <mat-option value="Ohio">OH</mat-option>
                  <mat-option value="Oklahoma">OK</mat-option>
                  <mat-option value="Oregon">OR</mat-option>
                  <mat-option value="Pennsylvania">PA</mat-option>
                  <mat-option value="Rhode Island">RI</mat-option>
                  <mat-option value="Rhode Island">SC</mat-option>
                  <mat-option value="South Dakota">SD</mat-option>
                  <mat-option value="Tennessee">TN</mat-option>
                  <mat-option value="Texas">TX</mat-option>
                  <mat-option value="Utah">UT</mat-option>
                  <mat-option value="Vermont">VT</mat-option>
                  <mat-option value="Virginia">VA</mat-option>
                  <mat-option value="Washington">WA</mat-option>
                  <mat-option value="West Virginia">WV</mat-option>
                  <mat-option value="Wisconsin">WI</mat-option>
                  <mat-option value="Wyoming">WY</mat-option>
                </mat-select>
              </mat-form-field>
            </tr>
          </td>
          <td>
            <tr>
              <mat-label><b>7. Please indicate if outside of USA</b></mat-label><br>
              <mat-form-field style="margin-left: 15px;" class="my-class" appearance="outline">
                <mat-label>Please indicate if outside of USA</mat-label>
                <input matInput formControlName="outside_USA" maxlength="500">
              </mat-form-field>
            </tr>
          </td>
        </table>
      </tr>
      <tr>
        <mat-label><b>8. Zip Code</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" class="my-class" appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput formControlName="zip_code" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>9. Primary telephone number (include area code) to use for contact and leaving messages</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>Primary telephone number (include area code) to use for contact and leaving messages</mat-label>
          <input matInput formControlName="telephone_number" maxlength="50" required>
          <mat-error *ngIf="form.controls['telephone_number'].errors?.required">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>10. Preferred method of contact</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Preferred method of contact</mat-label>
          <mat-select formControlName="contact_method">
            <mat-option value="Phone">Phone</mat-option>
            <mat-option value="Email">Email</mat-option>
            <mat-option value="Text">Text</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>11. Please indicate "Others"</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please indicate "Others"</mat-label>
          <textarea matInput formControlName="others_contact_method" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>12. Are you an experienced egg donor?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Are you an experienced egg donor?</mat-label>
          <mat-select formControlName="experience">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>13. The closest description of your race</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>The closest description of your race</mat-label>
          <input matInput formControlName="race" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>14. Are you or any of your family member registered to the BIA (Bureau of Indian Affairs)?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Are you or any of your family member registered to the BIA (Bureau of Indian Affairs)?</mat-label>
          <mat-select [formControl]="registered_BIA" required>
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
            <mat-option value="N/A">N/A</mat-option>
          </mat-select>
          <mat-error *ngIf="registered_BIA.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <table>
          <td>
            <tr>
              <mat-label><b>15. Height (feet)</b></mat-label><br>
              <mat-form-field class="my-class" appearance="outline">
                <mat-label>Height</mat-label>
                <input matInput type="number" min="1" maxlength="50" formControlName="height_feet" required>
                <span matSuffix> feet</span>
                <mat-error *ngIf="form.controls['height_feet'].errors?.required">This field is required.</mat-error>
              </mat-form-field>
            </tr>
          </td>
          <td>
            <tr>
              <mat-label><b>16. Height (inches)</b></mat-label><br>
              <mat-form-field class="my-class" appearance="outline">
                <mat-label>Height</mat-label>
                <input matInput type="number" min="1" maxlength="50" formControlName="height_in" required>
                <span matSuffix> in</span>
                <mat-error *ngIf="form.controls['height_in'].errors?.required">This field is required.</mat-error>
              </mat-form-field>
            </tr>
          </td>
        </table>
      </tr>
      <tr>
        <mat-label><b>17. Weight</b></mat-label><br>
        <mat-form-field class="my-class" appearance="outline">
          <mat-label>Weight</mat-label>
          <input matInput formControlName="weight" maxlength="50" required>
          <span matSuffix>pounds</span>
          <mat-error *ngIf="form.controls['weight'].errors?.required">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>18. Eye Color</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Eye Color</mat-label>
          <mat-select [formControl]="eye_color" required>
            <mat-option value="Blue">Blue</mat-option>
            <mat-option value="Light Blue">Light Blue</mat-option>
            <mat-option value="Dark Blue">Dark Blue</mat-option>
            <mat-option value="Brown">Brown</mat-option>
            <mat-option value="Light Brown">Light Brown</mat-option>
            <mat-option value="Dark Brown">Dark Brown</mat-option>
            <mat-option value="Green">Green</mat-option>
            <mat-option value="Hazel">Hazel</mat-option>
          </mat-select>
          <mat-error *ngIf="eye_color.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>19. Natural Hair Color</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Natural Hair Color</mat-label>
          <mat-select [formControl]="hair_color" required>
            <mat-option value="Black">Black</mat-option>
            <mat-option value="Blonde">Blonde</mat-option>
            <mat-option value="Light Blonde">Light Blonde</mat-option>
            <mat-option value="Dark Blonde">Dark Blonde</mat-option>
            <mat-option value="Strawberry Blonde">Strawberry Blonde</mat-option>
            <mat-option value="Brown">Brown</mat-option>
            <mat-option value="Light Brown">Light Brown</mat-option>
            <mat-option value="Dark Brown">Dark Brown</mat-option>
            <mat-option value="Red">Red</mat-option>
          </mat-select>
          <mat-error *ngIf="hair_color.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>20. Blood Type</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Blood Type</mat-label>
          <mat-select [formControl]="bloodType" required>
            <mat-option value="A-">A-</mat-option>
            <mat-option value="A+">A+</mat-option>
            <mat-option value="B-">B-</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="AB-">AB-</mat-option>
            <mat-option value="AB+">AB+</mat-option>
            <mat-option value="O-">O-</mat-option>
            <mat-option value="O+">O+</mat-option>
            <mat-option value="Unknown">Unknown</mat-option>
          </mat-select>
          <mat-error *ngIf="bloodType.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>21. Have you ever used medications such as antianxiety or antidepressants to treat an emotional or psychological problem?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Have you ever used medications such as antianxiety or antidepressants to treat an emotional or psychological problem?</mat-label>
          <mat-select [formControl]="medications" required>
            <mat-option value="No">No</mat-option>
            <mat-option value="Yes – current">Yes – current</mat-option>
            <mat-option value="Yes - used within the past 12 months">Yes - used within the past 12 months</mat-option>
            <mat-option value="Yes - used over 12 months ago">Yes - used over 12 months ago</mat-option>
          </mat-select>
          <mat-error *ngIf="medications.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>22. If yes, please list why and date last used</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>If yes, please list why and date last used</mat-label>
          <textarea matInput formControlName="why_date_last_used" maxlength="5000"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <div class="add-bottom-padding">
          <label><b>23. Do you have biological children?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="bioChildren">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <label><b>24. If yes, please list ages of children</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>If yes, please list ages of children</mat-label>
          <textarea matInput formControlName="list_ages_children" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>25. How did you hear about us?</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>How did you hear about us?</mat-label>
          <mat-select formControlName="hear_about_us">
            <mat-option value="Personal Referral (Provide Name)">Personal Referral (Provide Name)</mat-option>
            <mat-option value="A Friend (Provide Name)">A Friend (Provide Name)</mat-option>
            <mat-option value="Recruiter (Provide Name)">Recruiter (Provide Name)</mat-option>
            <mat-option value="Craigslist Ad">Craigslist Ad</mat-option>
            <mat-option value="Google Ad">Google Ad</mat-option>
            <mat-option value="Internet Research">Internet Research</mat-option>
            <mat-option value="Image Ad On a Website">Image Ad On a Website</mat-option>
            <mat-option value="Bing Ad">Bing Ad</mat-option>
            <mat-option value="Yahoo Ad">Yahoo Ad</mat-option>
            <mat-option value="Facebook Post">Facebook Post</mat-option>
            <mat-option value="Facebook Sponsored Video Ad">Facebook Sponsored Video Ad</mat-option>
            <mat-option value="Facebook Sponsored Ad">Facebook Sponsored Ad</mat-option>
            <mat-option value="Instagram Post">Instagram Post</mat-option>
            <mat-option value="Instagram Sponsored Ad">Instagram Sponsored Ad</mat-option>
            <mat-option value="Instagram Sponsored Video Ad">Instagram Sponsored Video Ad</mat-option>
            <mat-option value="Tumblr">Tumblr</mat-option>
            <mat-option value="Tinder">Tinder</mat-option>
            <mat-option value="Car Ad">Car Ad</mat-option>
            <mat-option value="Hungry SD">Hungry SD</mat-option>
            <mat-option value="Flyer on Campus">Flyer on Campus</mat-option>
            <mat-option value="Ad in Campus Newspaper">Ad in Campus Newspaper</mat-option>
            <mat-option value="WeChat">WeChat</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>26. Please explain</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please explain</mat-label>
          <textarea matInput formControlName="explain_about_us" maxlength="5000"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>27. Please select your highest level of education</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please select your highest level of education</mat-label>
          <mat-select [formControl]="highest_level_education" required>
            <mat-option value="None">None</mat-option>
            <mat-option value="Some High School">Some High School</mat-option>
            <mat-option value="GED">GED</mat-option>
            <mat-option value="High School Diploma">High School Diploma</mat-option>
            <mat-option value="Some Trade School">Some Trade School</mat-option>
            <mat-option value="Trade School Diploma">Trade School Diploma</mat-option>
            <mat-option value="Some College">Some College</mat-option>
            <mat-option value="Currently in College">Currently in College</mat-option>
            <mat-option value="2 Year College Degree">2 Year College Degree</mat-option>
            <mat-option value="4 Year College Degree">4 Year College Degree</mat-option>
            <mat-option value="Some Advanced Degree College">Some Advanced Degree College</mat-option>
            <mat-option value="Masters Degree">Masters Degree</mat-option>
            <mat-option value="Ph. D. Degree">Ph. D. Degree</mat-option>
            <mat-option value="MD or DO Degree">MD or DO Degree</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="highest_level_education.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>28. Please explain "Other"</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please explain "Other"</mat-label>
          <textarea matInput formControlName="explain_other" maxlength="5000"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>29. Do you or any family member have a history of disease or tested positive as a carrier? If yes, please list</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>Do you or any family member have a history of disease or tested positive as a carrier? If yes, please list</mat-label>
          <textarea matInput formControlName="yes_positive_carrier" maxlength="5000"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>30. Preferred Language</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>Preferred Language</mat-label>
          <mat-select formControlName="preferred_languange">
            <mat-option value="Engish">English</mat-option>
            <mat-option value="Chinese">Chinese</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <label><b>31. Please indicate "Others"</b></label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please indicate "Others"</mat-label>
          <textarea matInput formControlName="others_languange" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
    </td>
  </table>
  <div style="margin-left: 30px;" class="button-row">
    <button style="margin-left: 25px;" mat-raised-button class="my-class" color="warn" type="save_progress">SAVE PROGRESS <mat-icon>save</mat-icon></button>
    <button style="margin-left: 25px;" mat-raised-button class="my-class" color="warn" type="submit" [disabled]="!form.valid">SUBMIT <mat-icon>task_alt</mat-icon></button>
  </div>
</form>